<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vulnerabilities OWASP - Vulnerable version</title>
</head>
<body>
    <h1>vulnerabilities OWASP - Vulnerable version</h1>
    <button onclick="location.href='{% url 'sql_injection_fixed' %}'">Injection SQL</button>
    <button onclick="location.href='{% url 'xss_fixed' %}'">Cross-Site Scripting (XSS)</button>
    <button onclick="location.href='{% url 'sensitive_data_fixed' %}'">Sensitive Data Exposure</button>
    <button onclick="location.href='{% url 'upload_xml_fixed' %}'">XXE</button>
    <button onclick="location.href='{% url 'config_fixed' %}'">Security Misconfiguration</button>
</body>
</html>