<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Page</title>
</head>
<body>
    <h1>Welcome to the Fixed App - Sensitive Data </h1>
    <p>Try the same <a href="http://127.0.0.1:8000/fixed/sensitive-data-exposure/">page</a> as the vulnerable page, but with fixed, and see what happens!</p>
    <p>If you want a login to connect try the superuser you have created in the beggining.</p>
</body>
</html>